@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;

footer{
    @include flex(space-between, center);
    background-color: black;
    color:#fff;
    gap:50px;
    height:300px;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;

    
    }
    .home{
        color: $primary-color;
    }
    

    .sub{
        background-color: $primary-color;
        color: #fff;
        height: 44px;
        border-radius: 5px;
    }

    .email{
        height: 44px;
        border: none;
    }
    .letter{
        padding-bottom: 30px;
    }